<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# <div class="field"> %>
    <%# <%= form.label :user_id %> 
    <%# <%= form.number_field :user_id %> 
  <%# </div> %>
  <br>
  <div class="form-group row field">
    <div class="col-4 col-form-label">
      <h5 class=" font-weight-bold"><%= form.label :名前 %>:</h5>
    </div> 
    <div class="col-8">
      <%= form.text_field :name %>
    </div> 
  </div>

  <div class="form-group row field">
    <div class="col-4 col-form-label">
      <h5 class=" font-weight-bold"><%= form.label :画像 %>:</h5>
    </div>  
    <div class="col-8">
      <%= form.file_field :thumbnail %>
    </div>  
  </div>

  <div class="form-group row field">
    <div class="col-4 col-form-label">
      <h5 class=" font-weight-bold"><%= form.label :誕生日 %>:</h5>
    </div>
    <div class="col-8">
      <%= form.date_select(:birthday, start_year:Time.now.year, end_year:1900) %>
    </div>
  </div>

  <div class="form-group row actions">
    <div class="offset-5 col-7">
      <%= form.submit('更新', class: 'btn btn-primary') %>
    </div>  
  </div>
<% end %>
