<span class="border mt-4" style="float:right;"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-danger text-white border-danger'%></span>
<hr style="height:4px; background-color:#49b99e; border:none;">
<h1 class="font-weight-bold pt-3 pb-3" style="text-align:center;">プロフィール一覧</h1>
<br>
<div style="text-align:right; margin-bottom:30px;">
  <%= link_to '商品投稿', new_post_path, class: 'btn btn-light border-primary text-primary font-weight-bold' %> 
  <%= link_to '商品一覧', posts_path, class: 'btn btn-light border-primary text-primary font-weight-bold' %>
  <%= link_to 'プロフィール作成', new_profile_path, class: 'btn btn-light border-primary text-primary font-weight-bold' %>
</div>
<div class="container">
  <div class="row">
    <table class="col-md-12" style="background-color:white; padding:30px;">
        <%# background-image:url('/assets/background.jpg'); %>
      <thead>
        <tr>
          <th class="pt-1" style="text-align:center; border-top:1px solid lightgrey; border-bottom:1px solid lightgrey;">名前</th>
          <th class="pt-1" style="text-align:center; border-top:1px solid lightgrey; border-bottom:1px solid lightgrey;">画像</th>
          <th class="pt-1" style="text-align:center; border-top:1px solid lightgrey; border-bottom:1px solid lightgrey;">誕生日</th>
          <th class="pt-1" colspan="3" style="border-top:1px solid lightgrey; border-bottom:1px solid lightgrey;"></th>
        </tr>
      </thead>

      <tbody>
        <% @profiles.each do |profile| %>
          <tr>
            <td style="border-top:1px solid lightgrey; text-align:center; padding-top:20px;"><h3><%= profile.name %></h3></td>
            <td style="border-top:1px solid lightgrey; text-align:center; padding-top:10px;"><%= image_tag profile.thumbnail.to_s, :size =>'150x150' %></td>
            <td style="border-top:1px solid lightgrey; text-align:center; padding-top:20px;"><h5><%= profile.birthday %></h5></td>
            <td style="border-top:1px solid lightgrey; text-align:center; padding-top:20px;"><%= link_to '詳細', profile, class: 'btn btn-light text-dark border-dark' %></td>
            <td style="border-top:1px solid lightgrey; text-align:center; padding-top:20px;"><%= link_to '編集', new_profile_path, class: 'btn btn-light text-dark border-dark' %></td>
            <td style="border-top:1px solid lightgrey; text-align:center; padding-top:20px;"><%= link_to '削除', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light text-dark border-dark' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>  
<br>
<br>
