<span class="border" style="float:right;"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-danger text-white border-danger' %></span>
<hr>
<h1 style="text-align:center;">プロフィール一覧</h1>
<br>
<div style="text-align:right; margin-bottom:30px;">
  <%= link_to '商品投稿', new_post_path, class: 'btn btn-light border text-primary' %> 
  <%= link_to '商品一覧', posts_path, class: 'btn btn-light border text-success' %>
  <%= link_to 'プロフィール作成', new_profile_path, class: 'btn btn-light border text-info' %>
</div>
<div class="container" style="background-image:url('/assets/background.jpg'); padding:30px">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="border border-dark" style="text-align:center;">名前</th>
        <th class="border border-dark" style="text-align:center;">画像</th>
        <th class="border border-dark" style="text-align:center;">誕生日</th>
        <th class="border border-dark" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td class="border border-dark" style="text-align:center; padding-top:60px;"><h3><%= profile.name %></h3></td>
          <td class="border border-dark" style="text-align:center;"><%= image_tag profile.thumbnail.to_s, :size =>'150x150' %></td>
          <td class="border border-dark" style="text-align:center; padding-top:70px;"><h5><%= profile.birthday %></h5></td>
          <td class="border border-dark" style="text-align:center; padding-top:60px;"><%= link_to '詳細', profile, class: 'btn btn-success text-white border-succcess' %></td>
          <td class="border border-dark" style="text-align:center; padding-top:60px;"><%= link_to '編集', new_profile_path, class: 'btn btn-warning text-white border-warning' %></td>
          <td class="border border-dark" style="text-align:center; padding-top:60px;"><%= link_to '削除', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white border-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  
<br>
<br>
