<div class="container">
  <div class="row">
    <div class="card col-sm-5 mx-auto mt-5">
      <div class="card-body">
        <h2 class="mt-1 mb-3">新規登録</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group ield">
            <%= f.label :メールアドレス, :class => "form-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
          </div>

          <div class="form-group field">
            <%= f.label :パスワード, :class => "form-label" %><br /> 
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
          </div>

          <div class="form-group field">
            <%= f.label :確認用パスワード, :class => "form-label" %><br /> 
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "新規登録", :class => "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>    
  </div>
</div> 
<br> 
<div style="text-align:center;"> 
  <%= render "devise/shared/links" %>
</div> 
